In [21]:
# import data
import pandas as pd

# settings

# round
pd.options.display.float_format = '{:.2f}'.format

In [22]:
# read data from a xlsx file
df = pd.read_excel('data.xlsx', sheet_name='Dirty 8')

In [23]:
def split_rows(row):
    categories = row['Category'].split(' | ')
    amounts = row['Amount'].split(' | ')
    return pd.DataFrame({
        'Order ID': [row['Order ID']] * len(categories),
        'Category': categories,
        'Amount': amounts
    })

transformed_df = pd.concat([split_rows(row) for _, row in df.iterrows()], ignore_index=True)

In [24]:
transformed_df

          Order ID         Category   Amount
0   CA-2011-167199          Binders   609.98
1   CA-2011-167199              Art     5.48
2   CA-2011-167199           Phones   391.98
3   CA-2011-167199        Fasteners   755.96
4   CA-2011-167199            Paper    31.12
5   CA-2011-149020  Office Supplies     2.98
6   CA-2011-149020        Furniture    51.94
7   CA-2011-131905  Office Supplies      7.2
8   CA-2011-131905       Technology  42.0186
9   CA-2011-131905       Technology   42.035
10  CA-2011-127614      Accessories   234.45
11  CA-2011-127614           Tables  1256.22
12  CA-2011-127614          Binders    17.46

In [25]:
transformed_df.dtypes

Order ID    object
Category    object
Amount      object
dtype: object

In [27]:
# transfomr object to float
transformed_df['Amount'] = transformed_df['Amount'].astype(float)

In [28]:
transformed_df.dtypes

Order ID     object
Category     object
Amount      float64
dtype: object

In [29]:
transformed_df

          Order ID         Category  Amount
0   CA-2011-167199          Binders  609.98
1   CA-2011-167199              Art    5.48
2   CA-2011-167199           Phones  391.98
3   CA-2011-167199        Fasteners  755.96
4   CA-2011-167199            Paper   31.12
5   CA-2011-149020  Office Supplies    2.98
6   CA-2011-149020        Furniture   51.94
7   CA-2011-131905  Office Supplies    7.20
8   CA-2011-131905       Technology   42.02
9   CA-2011-131905       Technology   42.03
10  CA-2011-127614      Accessories  234.45
11  CA-2011-127614           Tables 1256.22
12  CA-2011-127614          Binders   17.46